extends ../layout

block content

    a(href='/bicicletas/create') Crear nueva Bicicleta

    table.table
        thead
            tr
                th(scope = 'col') #
                th(scope = 'col') Color
                th(scope = 'col') Modelo
                th(scope = 'col') Ubicacion
                th(scope = 'col') 
                th(scope = 'col') 
        tbody
          each bici in bicis
            tr
                td(scope='row')= bici.code
                td(scope='row')= bici.color
                td(scope='row')= bici.modelo
                td(scope='row')= bici.ubicacion
                td 
                    a(href='bicicletas/'+bici.code+'/update') Editar
                td
                    form(action=`/bicicletas/${bici.code}/delete` method='post')
                        input(type='hidden' name='ID' value= bici.code)
                        button.btn.btn-danger(type='submit') Eliminar
